In [1]:
import pandas as pd
import numpy as np

# Reading the gun violence dataset

Source: https://www.kaggle.com/jameslko/gun-violence-data

In [2]:
gv = pd.read_csv("data_raw/gun-violence-data_01-2013_03-2018.csv")

In [3]:
gv.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

## Selecting relevant columns

In [4]:
columns_to_keep = ["incident_id", "date", "state", "city_or_county", "n_killed", "n_injured", "gun_stolen", "gun_type",
                  "n_guns_involved", "participant_age", "participant_gender", "participant_relationship", 
                   "participant_status", "participant_type"]
gv = gv[columns_to_keep]

In [5]:
gv.head(10)

,incident_id,date,state,city_or_county,n_killed,n_injured,gun_stolen,gun_type,n_guns_involved,participant_age,participant_gender,participant_relationship,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,NaN,NaN,NaN,0::20,0::Male||1::Male||3::Male||4::Female,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,NaN,NaN,NaN,0::20,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,0::Unknown||1::Unknown,0::Unknown||1::Unknown,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,NaN,NaN,NaN,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,0::Unknown||1::Unknown,0::Handgun||1::Handgun,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
5,478948,2013-01-07,Oklahoma,Tulsa,4,0,NaN,NaN,NaN,0::23||1::23||2::33||3::55,0::Female||1::Female||2::Female||3::Female||4:...,NaN,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,0::Unknown||1::Unknown,0::22 LR||1::223 Rem [AR-15],2.0,0::51||1::40||2::9||3::5||4::2||5::15,0::Male||1::Female||2::Male||3::Female||4::Fem...,5::Family,0::Killed||1::Killed||2::Killed||3::Killed||4:...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
7,479374,2013-01-21,Louisiana,New Orleans,0,5,NaN,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male,NaN,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
8,479389,2013-01-21,California,Brentwood,0,4,NaN,NaN,NaN,NaN,0::Male||1::Male||2::Male||3::Male||4::Male,NaN,0::Injured||1::Injured||2::Injured||3::Injured...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
9,492151,2013-01-23,Maryland,Baltimore,1,6,NaN,NaN,NaN,0::15,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured|...,0::Victim||1::Victim||2::Victim||3::Victim||4:...

In [6]:
gv.dtypes

incident_id                   int64
date                         object
state                        object
city_or_county               object
n_killed                      int64
n_injured                     int64
gun_stolen                   object
gun_type                     object
n_guns_involved             float64
participant_age              object
participant_gender           object
participant_relationship     object
participant_status           object
participant_type             object
dtype: object

## Expanding columns

Some of the columns contained multiple values related to the several people involved in an incident or the several guns involved. 

I want to use some of that data in Tableau, so I wrote a function to do the following: 
1. Expand the column into a dataframe
2. Transform the dataframe from a wide format to a long one (so that it's nice and tidy for Tableau).

In [7]:
def expand_column(column, index, names):
    column_expanded = (column
                       .fillna("not available")
                       .str.replace("::", "||")
                       .str.split("\|\|"))
    
    column_expanded = pd.DataFrame(column_expanded.to_list())
    
    column_expanded = column_expanded.assign(incident_id = index)
    
    column_expanded = pd.melt(column_expanded, 
                              id_vars="incident_id", 
                              value_vars=np.arange(1, column_expanded.shape[1], 2),
                              var_name = names[0],
                              value_name = names[1]).dropna()
    return(column_expanded)

## Creating a table with participant data

I created a long-format table with info regarding participant gender, age, type and status and saved it as a csv file.

In [8]:
participant_gender_tidy = expand_column(gv["participant_gender"], gv["incident_id"], ("participant_number", "participant_gender"))

In [9]:
participant_age_tidy = expand_column(gv["participant_age"], 
                                     gv["incident_id"], 
                                     ("participant_number", "participant_age"))

In [10]:
participant_type_tidy = expand_column(gv["participant_type"], 
                                      gv["incident_id"], 
                                      ("participant_number", "participant_type"))

In [11]:
participant_status_tidy = expand_column(gv["participant_status"], 
                                        gv["incident_id"], 
                                        ("participant_number", "participant_status"))

In [12]:
participant_type_and_gender = participant_type_tidy.merge(participant_gender_tidy, 
                                                          on = ["incident_id", "participant_number"], 
                                                          how= "left")

In [13]:
participant_type_and_gender

        incident_id participant_number participant_type participant_gender
0            461105                  1           Victim               Male
1            460726                  1           Victim               Male
2            478855                  1  Subject-Suspect               Male
3            478925                  1           Victim             Female
4            478959                  1           Victim             Female
...             ...                ...              ...                ...
385508       577157                197           Victim                NaN
385509       577157                199           Victim                NaN
385510       577157                201           Victim                NaN
385511       577157                203           Victim                NaN
385512       577157                205  Subject-Suspect                NaN

[385513 rows x 4 columns]

In [14]:
participant_type_gender_and_age = participant_type_and_gender.merge(participant_age_tidy, 
                                                          on = ["incident_id", "participant_number"], 
                                                          how= "left")

In [15]:
participant_type_gender_and_age

,incident_id,participant_number,participant_type,participant_gender,participant_age
0,461105,1,Victim,Male,20
1,460726,1,Victim,Male,20
2,478855,1,Subject-Suspect,Male,25
3,478925,1,Victim,Female,29
4,478959,1,Victim,Female,18
...,...,...,...,...,...
385508,577157,197,Victim,NaN,NaN
385509,577157,199,Victim,NaN,NaN
385510,577157,201,Victim,NaN,NaN
385511,577157,203,Victim,NaN,NaN
385512,577157,205,Subject-Suspect,NaN,NaN

In [16]:
participant_type_gender_age_and_status = participant_type_gender_and_age.merge(participant_status_tidy, 
                                                          on = ["incident_id", "participant_number"], 
                                                          how= "left")

In [17]:
participant_type_gender_age_and_status

,incident_id,participant_number,participant_type,participant_gender,participant_age,participant_status
0,461105,1,Victim,Male,20,Arrested
1,460726,1,Victim,Male,20,Killed
2,478855,1,Subject-Suspect,Male,25,"Injured, Unharmed, Arrested"
3,478925,1,Victim,Female,29,Killed
4,478959,1,Victim,Female,18,Injured
...,...,...,...,...,...,...
385508,577157,197,Victim,NaN,NaN,Injured
385509,577157,199,Victim,NaN,NaN,Injured
385510,577157,201,Victim,NaN,NaN,Injured
385511,577157,203,Victim,NaN,NaN,Injured
385512,577157,205,Subject-Suspect,NaN,NaN,Killed

In [25]:
participant_type_gender_age_and_status.to_csv("data_clean/participant_tgas.csv", index = False)

## Creating a table with participant data

I did the same for the gun info (whether they were stolen and what type of gun).

In [19]:
gun_stolen = expand_column(gv["gun_stolen"], gv["incident_id"], ("gun_number", "gun_stolen"))
gun_type = expand_column(gv["gun_type"], gv["incident_id"], ("gun_number", "gun_type"))

In [20]:
gun_stolen_and_type = gun_type.merge(gun_stolen, 
                                     on = ["incident_id", "gun_number"], 
                                     how= "left")

In [21]:
gun_stolen_and_type

        incident_id gun_number gun_type gun_stolen
0            478855          1  Unknown    Unknown
1            478959          1  Handgun    Unknown
2            479363          1    22 LR    Unknown
3            491674          1  Unknown    Unknown
4            479413          1  Unknown    Unknown
...             ...        ...      ...        ...
192042       471064        797  Unknown    Unknown
192043       338106        799  Unknown    Unknown
192044       398932        799  Unknown    Unknown
192045       437442        799  Unknown    Unknown
192046       449889        799  Unknown    Unknown

[192047 rows x 4 columns]

In [26]:
gun_stolen_and_type.to_csv("data_clean/gun_info.csv", index = False)

## Cleaning main table

I wrote the main table to a csv file for Tableau. I kept only the columns I wanted to use for visualizations.

In [23]:
gv.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,gun_stolen,gun_type,n_guns_involved,participant_age,participant_gender,participant_relationship,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,NaN,NaN,NaN,0::20,0::Male||1::Male||3::Male||4::Female,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...
1,460726,2013-01-01,California,Hawthorne,1,3,NaN,NaN,NaN,0::20,0::Male,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...
2,478855,2013-01-01,Ohio,Lorain,1,3,0::Unknown||1::Unknown,0::Unknown||1::Unknown,2.0,0::25||1::31||2::33||3::34||4::33,0::Male||1::Male||2::Male||3::Male||4::Male,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3,478925,2013-01-05,Colorado,Aurora,4,0,NaN,NaN,NaN,0::29||1::33||2::56||3::33,0::Female||1::Male||2::Male||3::Male,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...
4,478959,2013-01-07,North Carolina,Greensboro,2,2,0::Unknown||1::Unknown,0::Handgun||1::Handgun,2.0,0::18||1::46||2::14||3::47,0::Female||1::Male||2::Male||3::Female,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...

In [27]:
gv[["incident_id", 
    "date", 
    "state", 
    "city_or_county", 
    "n_killed", 
    "n_injured", 
    "n_guns_involved"]].to_csv("data_clean/gun_incidents.csv", index = False)